DATABASE_URL=postgres://user:pass@localhost:5432/ngonlenin
DATABASE_URL_READ=postgres://user:pass@localhost:5432/ngonlenin

APP_URL=http://localhost:3000

REDIS_URL=redis://localhost:6379

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_PUBLIC_URL=
CLOUDFLARE_R2_ENDPOINT=

