DATABASE_URL=postgres://user:pass@localhost:5432/ngonlenin
DATABASE_URL_READ=postgres://user:pass@localhost:5432/ngonlenin

APP_URL=http://localhost:3000

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap1
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=ap1

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
XENDIT_SECRET_KEY=
FLIP_SECRET_KEY=
DUITKU_API_KEY=
DUITKU_MERCHANT_CODE=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
BRICK_SECRET_KEY=
